In [ ]:
!pip install kaggle

In [ ]:
import kaggle
!kaggle datasets download atharvasoundankar/cosmetics-and-skincare-product-sales-data-2022 -f cosmetics_sales_data.csv

In [3]:
import pandas as pd
df = pd.read_csv("cosmetics_sales_data.csv")

In [4]:
df.head(10)

,Sales Person,Country,Product,Date,Amount ($),Boxes Shipped
0,Lucas Verma,Canada,Aloe Vera Gel,2022-04-30,7897.13,358
1,Ethan Reddy,UK,Aloe Vera Gel,2022-01-25,16376.88,449
2,Ananya Gupta,India,Body Butter Cream,2022-08-22,5599.68,264
3,Ananya Gupta,New Zealand,Salicylic Acid Cleanser,2022-08-26,2966.47,144
4,Sophia Nair,UK,Body Butter Cream,2022-05-19,6828.68,484
5,Ananya Gupta,UK,Lip Balm Pack,2022-08-27,2555.95,192
6,Ananya Gupta,New Zealand,Rose Water Toner,2022-04-29,832.92,19
7,Sophia Nair,New Zealand,Tea Tree Moisturizer,2022-07-15,997.96,36
8,Isabella Roy,New Zealand,Lip Balm Pack,2022-02-04,7754.36,466
9,Noah Mehta,India,Aloe Vera Gel,2022-05-16,5507.19,176

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   374 non-null    object
 1   Country        374 non-null    object
 2   Product        374 non-null    object
 3   Date           374 non-null    object
 4   Amount ($)     374 non-null    float64
 5   Boxes Shipped  374 non-null    int64
dtypes: float64(1), int64(1), object(4)
memory usage: 17.7+ KB

In [6]:
df.describe()

         Amount ($)  Boxes Shipped
count    374.000000     374.000000
mean    7778.353262     249.072193
std     5655.378093     144.235296
min      119.820000      10.000000
25%     3325.250000     140.000000
50%     6513.655000     246.000000
75%    11331.897500     364.000000
max    23977.480000     499.000000

In [7]:
df["Boxes Shipped"].unique()
#Looking for any non-NaN values where values are supposed to be written as Nan

array([358, 449, 264, 144, 484, 192,  19,  36, 466, 176,  87, 384, 254,
        79,  24,  83,  25, 251, 417, 258, 257, 211, 226, 162,  74,  18,
        91,  78,  57, 213, 340, 362, 217, 290, 450, 266, 357, 498, 246,
       147, 103, 150, 242, 298, 102, 324, 331, 312, 373, 483, 366, 438,
       361, 489,  29, 156, 198,  30, 248, 454, 406, 244, 325, 434, 360,
       274, 107, 456, 402, 202,  51, 285, 152, 146, 237, 334, 322, 180,
        14, 124,  73, 465, 218,  13, 118, 293, 309, 385,  72, 424, 234,
        49,  89, 204, 283, 169, 149, 471, 295, 183, 401,  46,  96, 235,
       126, 418,  22, 354,  31, 119, 487, 232, 425, 161, 475, 299, 478,
       140, 350, 390, 499,  16, 191, 433, 279,  23, 440, 306, 300,  37,
       197, 189, 253,  85, 167, 120,  80, 422, 364, 335, 138, 308, 215,
       388, 375, 352, 482, 318, 225, 224, 452, 265, 115, 296, 155, 164,
        43, 463, 439, 321, 485, 236,  81, 363, 159, 469, 249, 423, 436,
        27, 221, 427,  15, 171, 168, 175, 269, 186,  11,  38, 181, 486,
       101,  32, 327,  21, 337, 410, 458, 338, 351, 286, 481, 356, 441,
        33, 333,  41, 270, 145, 420,  69,  66, 190, 154, 108,  12, 148,
        56, 495, 317, 476, 394, 233, 194, 355, 268, 332, 136,  39,  40,
       141, 393, 314, 400, 239,  84, 477,  42, 109, 342, 343, 305, 411,
       297, 472, 412, 376, 201, 447, 491, 240, 488,  20, 320, 276, 142,
       282, 199, 426,  10, 377, 163,  64, 451, 474, 409, 178, 444, 133,
       193, 273, 372, 457, 206, 371, 143, 386])

In [8]:
df["Country"].unique()

array(['Canada', 'UK', 'India', 'New Zealand', 'Australia', 'USA'],
      dtype=object)

In [9]:
df["Sales Person"].unique()

array(['Lucas Verma', 'Ethan Reddy', 'Ananya Gupta', 'Sophia Nair',
       'Isabella Roy', 'Noah Mehta', "Olivia D'Souza", 'Ava Sharma',
       'Liam Patel', 'Mason Kapoor'], dtype=object)

In [10]:
df["Product"].unique()

array(['Aloe Vera Gel', 'Body Butter Cream', 'Salicylic Acid Cleanser',
       'Lip Balm Pack', 'Rose Water Toner', 'Tea Tree Moisturizer',
       'Face Sheet Masks', 'Hair Repair Oil', 'Vitamin C Cream',
       'Niacinamide Toner', 'Under Eye Cream', 'Hydrating Face Serum',
       'Charcoal Face Wash', 'Anti-Aging Serum', 'SPF 50 Sunscreen'],
      dtype=object)

In [11]:
df["Date"].unique()

array(['2022-04-30', '2022-01-25', '2022-08-22', '2022-08-26',
       '2022-05-19', '2022-08-27', '2022-04-29', '2022-07-15',
       '2022-02-04', '2022-05-16', '2022-01-27', '2022-06-02',
       '2022-04-06', '2022-07-26', '2022-01-10', '2022-01-04',
       '2022-03-03', '2022-05-29', '2022-05-28', '2022-08-02',
       '2022-07-17', '2022-05-14', '2022-01-15', '2022-04-13',
       '2022-07-22', '2022-04-11', '2022-06-18', '2022-06-12',
       '2022-01-13', '2022-04-02', '2022-07-10', '2022-08-03',
       '2022-03-18', '2022-06-19', '2022-03-07', '2022-05-27',
       '2022-05-11', '2022-03-20', '2022-03-25', '2022-01-09',
       '2022-05-17', '2022-03-31', '2022-05-07', '2022-07-13',
       '2022-08-13', '2022-05-02', '2022-08-28', '2022-02-02',
       '2022-06-03', '2022-06-24', '2022-04-28', '2022-03-23',
       '2022-04-25', '2022-04-08', '2022-07-25', '2022-03-21',
       '2022-07-11', '2022-03-02', '2022-04-19', '2022-01-16',
       '2022-04-01', '2022-05-22', '2022-01-24', '2022-08-12',
       '2022-07-08', '2022-07-09', '2022-08-30', '2022-06-29',
       '2022-03-29', '2022-03-04', '2022-02-23', '2022-08-29',
       '2022-03-15', '2022-01-18', '2022-03-08', '2022-02-17',
       '2022-07-23', '2022-02-14', '2022-02-19', '2022-08-17',
       '2022-06-08', '2022-04-09', '2022-04-17', '2022-07-05',
       '2022-04-07', '2022-08-06', '2022-02-08', '2022-03-10',
       '2022-03-30', '2022-05-18', '2022-01-26', '2022-03-22',
       '2022-06-20', '2022-01-28', '2022-05-23', '2022-03-11',
       '2022-06-22', '2022-03-28', '2022-01-30', '2022-08-19',
       '2022-07-07', '2022-06-10', '2022-02-11', '2022-03-16',
       '2022-05-01', '2022-07-04', '2022-01-02', '2022-07-31',
       '2022-06-11', '2022-02-26', '2022-07-02', '2022-06-01',
       '2022-02-24', '2022-03-01', '2022-02-16', '2022-01-01',
       '2022-05-09', '2022-01-31', '2022-03-24', '2022-08-20',
       '2022-06-21', '2022-02-27', '2022-06-05', '2022-07-16',
       '2022-03-27', '2022-03-09', '2022-04-27', '2022-01-19',
       '2022-03-19', '2022-07-21', '2022-02-21', '2022-01-06',
       '2022-03-14', '2022-07-01', '2022-05-06', '2022-06-09',
       '2022-06-15', '2022-07-06', '2022-02-22', '2022-01-12',
       '2022-01-08', '2022-05-15', '2022-04-24', '2022-05-26',
       '2022-07-30', '2022-04-26', '2022-04-15', '2022-08-10',
       '2022-01-22', '2022-08-15', '2022-01-23', '2022-01-20',
       '2022-08-24', '2022-05-04', '2022-08-25', '2022-05-31',
       '2022-06-16', '2022-03-05', '2022-08-16', '2022-04-03',
       '2022-02-07', '2022-06-26', '2022-08-18', '2022-06-07',
       '2022-06-27', '2022-04-18', '2022-06-23', '2022-05-21',
       '2022-08-21', '2022-08-05', '2022-07-27', '2022-02-18',
       '2022-02-28', '2022-06-28', '2022-08-11', '2022-04-23',
       '2022-04-22', '2022-01-03', '2022-05-24', '2022-03-26',
       '2022-08-07', '2022-05-03', '2022-07-29', '2022-04-12',
       '2022-02-10', '2022-08-01', '2022-06-13', '2022-03-17',
       '2022-04-05', '2022-07-03', '2022-07-18', '2022-05-05',
       '2022-05-30'], dtype=object)

In [12]:
df["Amount ($)"].unique()

array([ 7897.13, 16376.88,  5599.68,  2966.47,  6828.68,  2555.95,
         832.92,   997.96,  7754.36,  5507.19,  1119.66,  6853.59,
       12147.98,   923.46,   442.07,  3900.37,   801.63, 10101.78,
        6600.15,  5302.98,  6310.09,  2369.18, 16418.97, 10774.83,
        5958.48,  1194.96,   314.68,  1442.65,  2810.34,  1394.62,
        8143.6 , 12885.94, 16223.13,  8330.47,  5384.2 , 19594.27,
       12213.24,  4242.56, 13379.16,  9353.99,  5032.73,  3041.08,
        3258.73, 10452.26,  8642.86,  2523.86, 11599.9 , 15606.61,
        9583.51, 10192.85, 21701.44,  6496.58, 16383.31, 15834.45,
        7501.02,   922.43,  6141.45,  1745.79,  7268.2 ,   424.38,
       10711.79,  8154.9 ,  5132.41,  6538.2 , 13625.75,  3344.35,
       11456.29,  8946.01, 15120.74,  9372.51,  4531.42, 16283.5 ,
       10108.84,  3801.03,  1308.08, 13195.  ,  5223.33,  6102.47,
        8416.43,  8215.87,  6936.38,  2422.62, 17090.34, 10497.39,
         569.78,  4103.17,   891.11, 14127.27,  5150.27,   146.7 ,
        3812.92,  9450.04,  6457.54,  7925.54, 16861.45,  1650.87,
       19861.82, 10647.12,  1564.91,  2126.3 ,  2893.74, 13434.96,
        8273.51,  4063.64,  6650.47,  4463.32, 16996.07,  4768.41,
       18046.13,   868.92,  4759.75, 19576.41,  4824.94,  5555.52,
        6004.2 , 12369.81,   861.89,  6048.32, 15051.5 ,   756.72,
         534.64, 12424.63, 15136.25,   580.35,  5804.87, 23152.04,
        6174.38, 16619.54,  3214.37, 16037.03,  6455.88, 20659.54,
       19030.11,  5042.61, 15274.46, 13934.58,   858.68, 10382.3 ,
        7825.06,   329.  ,  7014.04,  9390.28,  3368.14,  2200.4 ,
         381.6 , 16452.13,  7364.22, 11031.64,   715.01,  5699.19,
        7524.98, 10002.88,  3812.45,  6717.5 ,  8326.18,  5177.5 ,
       12188.95,  1225.41, 16191.56, 10095.38,  8901.98,  1761.2 ,
       15189.5 ,  7077.02, 16495.37,  6530.73, 12915.63, 16425.05,
        6775.  ,  4553.78, 20895.19, 14822.36,  3428.81,  2925.47,
       19444.09,  8591.2 ,  2289.16,  6384.11,  2747.98,  6324.87,
        4592.38,  5016.53,   636.78,  2948.69, 19971.42,  8218.19,
        4964.03,  7881.92, 15267.53, 16343.94, 10904.55,  3205.  ,
        5771.22,  3977.2 ,  8919.5 , 23284.44,  4260.44,  7570.61,
       18742.38,  8787.8 , 16253.66, 10789.63,   841.52,  5926.16,
        7066.65, 11533.13,  6390.52,   444.44,  7220.46,  3490.94,
        7408.06,  4111.71,  3823.54,  4542.86,   527.39,  4013.93,
         593.94,  4318.42,  5293.89,  3165.41,  5212.22,  4320.88,
         434.03, 15708.48,   411.5 ,  2124.81,   984.79, 13049.1 ,
         956.42,  5712.21,  6985.76, 10122.81,  4746.86,   365.6 ,
        9791.02,  6966.13, 14282.35,  2735.77,  5503.98, 10872.5 ,
        4158.5 , 23977.48,  5031.06,  7460.34,  6613.2 ,   708.87,
       10445.39,  5797.63, 10473.97,  1372.66, 11414.54,   631.36,
        6093.04,  3335.93, 15130.24,  3321.69,  2336.36, 19443.77,
        4534.5 ,  1027.1 ,  2883.  ,  2593.64,  5802.73, 11992.11,
         352.92,  7024.11,  2884.52,  5022.76,  5250.58,  2584.15,
        8581.27,   559.73, 12905.06, 13509.42,  3116.98,  1123.46,
       18188.8 ,  8484.94,  6693.75,  9682.74,  3241.7 , 10885.26,
        4934.32, 21726.67,  5873.54,  9561.31,  3463.01,   136.05,
        3525.11,  4819.15,  5661.96,   980.84,  1430.77,  1178.22,
        9645.48,  3703.09, 10465.99, 11297.48,  9203.38, 10092.43,
        2394.9 ,  4157.41,  3986.46, 16045.86,  5616.37,  1741.42,
        4344.35,  8483.48,   723.29,  4476.  , 13449.54, 13220.1 ,
       16987.7 ,  9085.51, 11544.08, 12587.78, 12202.64,  6319.71,
       16902.63,  5408.77, 11725.2 ,  9669.71,  2875.15, 14214.55,
        1195.52, 16375.54,  8190.32, 19125.15,   585.65, 20317.26,
        9887.34,  8194.42,  7471.71,  7060.26, 13053.64,  8399.02,
        7990.6 , 11098.01, 19951.07,   119.82, 12551.57,  7718.1 ,
        6264.79,  1617.05,  2630.52,  5024.53, 19586.58,  1905.06,
        5032.22,  7678.26, 20181.  ,  8709.22, 18763.82, 11343.37,
        4905.1 , 10071.75,  5025.69,  1274.86,  2848.07,  5431.35,
       23090.87, 13289.99, 14114.16,  3064.72, 13987.08, 17890.38,
       11345.7 ,  3795.64,  1004.71,  5575.62, 12563.44,  4983.24,
         782.09, 17614.9 ])

In [13]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ", "_")
#Cleaning up spaces and replacing them with an underscore to avoid confusion or spelling errors when analyzing
#Switched everything to lower case so that they are all in one case to avoid any potential string error

In [14]:
df.head(10)

,sales_person,country,product,date,amount_($),boxes_shipped
0,Lucas Verma,Canada,Aloe Vera Gel,2022-04-30,7897.13,358
1,Ethan Reddy,UK,Aloe Vera Gel,2022-01-25,16376.88,449
2,Ananya Gupta,India,Body Butter Cream,2022-08-22,5599.68,264
3,Ananya Gupta,New Zealand,Salicylic Acid Cleanser,2022-08-26,2966.47,144
4,Sophia Nair,UK,Body Butter Cream,2022-05-19,6828.68,484
5,Ananya Gupta,UK,Lip Balm Pack,2022-08-27,2555.95,192
6,Ananya Gupta,New Zealand,Rose Water Toner,2022-04-29,832.92,19
7,Sophia Nair,New Zealand,Tea Tree Moisturizer,2022-07-15,997.96,36
8,Isabella Roy,New Zealand,Lip Balm Pack,2022-02-04,7754.36,466
9,Noah Mehta,India,Aloe Vera Gel,2022-05-16,5507.19,176

In [15]:
#Incase we needed to know how much each box of product was sold at in different country by different sales person
df["cost_of_each_box"] = df["amount_($)"]/df["boxes_shipped"]

In [16]:
df.head(5)

,sales_person,country,product,date,amount_($),boxes_shipped,cost_of_each_box
0,Lucas Verma,Canada,Aloe Vera Gel,2022-04-30,7897.13,358,22.059022
1,Ethan Reddy,UK,Aloe Vera Gel,2022-01-25,16376.88,449,36.474120
2,Ananya Gupta,India,Body Butter Cream,2022-08-22,5599.68,264,21.210909
3,Ananya Gupta,New Zealand,Salicylic Acid Cleanser,2022-08-26,2966.47,144,20.600486
4,Sophia Nair,UK,Body Butter Cream,2022-05-19,6828.68,484,14.108843

In [17]:
df["date"]

0      2022-04-30
1      2022-01-25
2      2022-08-22
3      2022-08-26
4      2022-05-19
          ...
369    2022-05-30
370    2022-05-07
371    2022-06-21
372    2022-08-16
373    2022-08-17
Name: date, Length: 374, dtype: object

In [18]:
#converting date from object to date type for easier analysis in SQL
df["date"] = pd.to_datetime(df["date"], format= "%Y-%m-%d")
df["date"]

0     2022-04-30
1     2022-01-25
2     2022-08-22
3     2022-08-26
4     2022-05-19
         ...
369   2022-05-30
370   2022-05-07
371   2022-06-21
372   2022-08-16
373   2022-08-17
Name: date, Length: 374, dtype: datetime64[ns]

In [ ]:
df.drop("sales_person", axis=1, inplace=True)
#this column isn't exactly relevant or necessary considering what I'm analyzing.

In [ ]:
!pip install sqlalchemy pymysql pandas
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://******:*******@localhost:3306/sales_analytics")

In [ ]:
df.to_sql(
    name='cosmetics_analytics',  
    con=engine,
    if_exists='replace',   
    index=False,        
    method='multi'  
)